# sample-Config-File of daisy_creator_mag_s.config

[Ordner]
BHZ=/home/mydir/data_bhz
BHZ-Ziel=/home/buero2/data_server_2/Data_2012/Produktion_BHZ
BHZ-Meta=/home/mydir/data_bhz/Daisy_Meta
BHZ-Ausgabeansage=/home/mydir/data_bhz/BHZ_Ausgabe
BHZ-Intro=/home/mydir/data_bhz/Intros

# Magazins, comma separated without spaces
[Blindenhoerzeitschriften]
BHZ=amnesty_journal, my_mag, my_mag_1

# Extern Programms/ Packages, needed for poper function
[Programme]
LAME=/usr/bin/lame
